.form-container {
  padding: 1rem;
  width: calc(100% - 2rem);
  max-width: 400px;
  margin: 2rem auto;
}
.row .form-label {
  padding-bottom: 0;
}
.padding-bottom-1rem {
  padding-bottom: 1rem;
}
.overlay-container {
  opacity: 1;
  position: relative;
}
.overlay-text {
  background-color: transparent;
}
.input-with-eye-container {
  position: relative;
  width: 100%;
}
.input-with-eye-container input[type="password"] {
  padding-right: 2rem;
}
.eye-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  margin: 0;
  padding: 0;
}
