@import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap";

.nav-title {
  margin-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-sizing: border-box;
}
.avatar-in-nav-links i {
  color: white;
}
.nav-section {
  width: 50%;
}
.nav-logo {
  width: 100%;
  /* padding: 0 3rem 0 2rem; */
  width: fit-content;
  box-sizing: border-box;
}
.logo-title {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  box-sizing: border-box;
}
.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.625rem 1rem;
}

.logo-and-symbol-style {
  font-size: 1rem;
  margin-right: 3px;
}
.logo-tagline {
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  width: fit-content;
}
.navlinks-style {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.navlinks-active {
  color: var(--primary-color);
}

.nav-icons {
  box-sizing: border-box;
  padding: 0 1rem;
}

.search-bar {
  border-radius: 0.3rem;
  position: relative;
}
.search-bar-btn {
  padding: 0.625rem 1rem;
  border-radius: 0.3rem;
}
.activeSearchIcon {
  background-color: rgb(105, 110, 121);
  color: white;
}

.datalist-for-search {
  position: absolute;
  top: 2.25rem;
  padding: 1rem 0rem;
  background-color: rgb(245, 245, 246);
  border-top: 1px solid var(--dark-secondary-text-color);
  width: 100%;
  overflow-y: auto;
}
.suggestion-item {
  padding: 0.25rem 1rem 0.25rem 4rem;
}
.suggestion-item:hover {
  background-color: rgb(225, 225, 226);
}
@media screen and (max-width: 1024px) {
  .nav-bar {
    padding: 0.8rem 0.8rem 0.8rem 0rem;
  }
  .nav-bar-links {
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
  }
  .nav-section {
    width: auto;
  }
  .search-bar-btn {
    font-size: 1.1rem;
    padding-right: 0.5rem;
  }
}
