.footer {
	background-color: var(--secondary-color);
	min-height: 7rem;
	width: 100%;
	padding: 2.5rem;
	font-size: 1.5rem;
	box-sizing: border-box;
}
.footer-social-icons {
	width: fit-content;
	margin: 1rem auto;
}
.footer-social-icons a {
	transition: 0.2s ease;
}
.footer-social-icons a:hover {
	color: var(--primary-color);
}
.btn-float-action {
	bottom: 1.75rem;
}

.footer-header {
	font-size: 1rem;
	letter-spacing: 0.5px;
}
