* {
  box-sizing: border-box;
}
.App-container {
  min-height: calc(100vh - 10rem);
}
.Container {
  padding: 1rem;
}

.padding-1rem-borderbox {
  box-sizing: border-box;
  padding: 1rem;
}

.column-60-pc {
  width: calc(60% - 1rem);
}
.column-40-pc {
  width: 40%;
}

.text-green {
  color: #47b88e;
}
.row {
  justify-content: space-between;
}
.width-800px {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.btn-close {
  background-color: white;
  border-radius: 50%;
  padding: 4px 6px 6px 4px;
  line-height: 14px;
}
.page-title {
  padding: 2rem 1rem;
}
.border-width-1px {
  box-shadow: 0 0 0 1px inset #e9e9eb;
}
.border-width-2px-left {
  border-left: 1px solid #e9e9eb;
}
.border-1px-square {
  border: 1px solid #e9e9eb;
}
.cart-qty-style {
  margin: 0 0.625rem 0 0;
  padding: 0.5rem 1rem;
}
label {
  cursor: pointer;
}
.modal-content {
  background-color: white;
}
.margin-auto {
  margin: auto;
}

.margin-auto {
  margin: auto;
}
@media screen and (max-width: 768px) {
  .grid-4-column-layout {
    gap: 1rem;
  }
  .grid-4-column-layout {
    max-width: 27rem;
  }
  .column-40-pc,
  .column-60-pc {
    width: 100%;
  }
}
